extends _main

block content

    main
        // Modal start
        #modalComment.modalComment.container.col-11
            .row
                .modal-left.col-md-5
                    img(src='img/contact.png' alt='photo' width='300')
                    .contactInfo
                        .icons
                            .icon
                                div
                                    img(src='img/document.png' alt='photo' width='50')
                                .aboutIcon
                                    p Fill out request.
                            .icon
                                div
                                    img(src='img/receive-mail.png' alt='photo' width='50')
                                div
                                    p Get an email from us with a guide
                            .icon
                                div
                                    img(src='img/idea.png' alt='photo' width='50')
                                div
                                    p Write suggestions and comments
                .modal-right.col-11.col-sm-12.col-md-6
                    h2 Registration
                    img#close(src='img/close.png' alt='photo' width='18')
                    form.contact-data
                        .registerInput
                            label(for='restaurant')
                                | Restaurant name
                                span.required *
                            br
                            input#restaurant(type='text' required='')
                        .registerInput
                            label(for='email')
                                | Email
                                span.required *
                            br
                            input#email(type='text' required='')
                        .registerInput
                            label(for='phone')
                                | Phone
                                span.required *
                            br
                            input#phone(type='text' required='')
                        .registerInput
                            label(for='textarea') Comments
                            br
                            textarea#textarea(name='textarea' cols='30' rows='10')
                        button.submitForm Submit
        // Modal finish
        #home.homeAbout
            .home-left.col-12.container.homeMobile
                h2 Spend Your time on Enjoying the Food not on Cooking
                p
                    | Just as e-commerce has changed the way we shop, food delivery apps
                    | are also now changing the behavior of how we consume food. More
                    | and more restaurants are investing in fewer seats while increasing
                    | the kitchen space to meet the consumer buying behavior.
                p
                    | In the last two years food delivery apps in All over the world
                    | managed to be one of the main source of the restaurant&apos;s and dark
                    | kitchens sales. Meanwhile In the last three years, downloads of
                    | food delivery apps have increased by more than 380% percent in
                    | Europe. As the figures shows restaurants industry is currently
                    | undergoing a rapid change by moving from traditional way to
                    | digital transition. The new consumer behaviour requires more rapid
                    | adaptation for restaurant to survive in the market.
