footer
    .footer.container.container-fixer
        .row
            .col-12.col-md-5
                .footer-left
                    h2 FoodLand
                    p
                        | All materials on the site are copyrighted. You need written
                        | permission to use them.
            .col-12.col-md-3
                .footer-center
                    h5 For Customers
                    ul.footer-list
                        a(href='/about')
                            li About Us
                        a(href='/solutions')
                            li Pricing
            .col-12.col-md-4
                .footer-right
                    h5 Contact Us
                    a(href='#') info@foodlab.az
                    #icons
                        a(href='https://www.facebook.com/gadim.bendavid' target='_blank')
                            i.fab.fa-facebook
                        a(href='https://www.instagram.com/gadim.bendavid/' target='_blank')
                            i.fab.fa-instagram
