extends _main

block content

    #modalComment.modalComment.container.col-11
        .row
            .modal-left.col-md-5
                img(src='img/contact.png' alt='photo' width='300')
                .contactInfo
                    .icons
                        .icon
                            div
                                img(src='img/document.png' alt='photo' width='50')
                            .aboutIcon
                                p Fill out request.
                        .icon
                            div
                                img(src='img/receive-mail.png' alt='photo' width='50')
                            div
                                p Get an email from us with a guide
                        .icon
                            div
                                img(src='img/idea.png' alt='photo' width='50')
                            div
                                p Write suggestions and comments
            .modal-right.col-sm-12.col-11.col-md-6
                h2 Registration
                img#close(src='img/close.png' alt='photo' width='18')
                form.contact-data
                    .registerInput
                        label(for='restaurant')
                            | Brand name
                            span.required *
                        br
                        input#restaurant(type='text' required='')
                    .registerInput
                        label(for='email')
                            | Email
                            span.required *
                        br
                        input#email(type='text' required='')
                    .registerInput
                        label(for='phone')
                            | Phone
                            span.required *
                        br
                        input#phone(type='text' required='')
                    .registerInput
                        label(for='textarea') Comments
                        br
                        textarea#textarea(name='textarea' cols='30' rows='10')
                    button.submitForm Submit
    // Modal finish
    // Home start
    #home
        .container
            .row.justify-content-center
                .col-md-9.col-lg-6.col-xl-5
                    .row
                        .col-lg-12
                            .p-5
                                .text-center
                                    h2.test Welcome Back!
                                    form.form-login-data
                                        .mb-3
                                            label
                                                | Username
                                                span.required *
                                            br
                                            input#username.form-control.form-control-user.text-danger.font-weight-bold(style='font-size: 16px' type='email' placeholder='Enter Email Address...')
                                        .mb-3
                                            label
                                                | Password
                                                span.required *
                                            br
                                            input#password.form-control.form-control-user.text-danger.font-weight-bold(style='font-size: 16px' type='password' placeholder='Password')
                                        button.btn.btn-primary.d-block.btn-user.w-100(type='submit') Login

        //form.propertyForm
        //    .container
        //        .propertyForm-left
        //            .propertyInput
        //                label
        //                    | Your Name:
        //                    span.required *
        //                br
        //                input#name(type='text' placeholder='name')
        //            .propertyInput
        //                label
        //                    | Your Phone Number:
        //                    span.required *
        //                br
        //                input#phoneNum(type='text' placeholder='Phone Number')
        //            .propertyInput
        //                label
        //                    | Your Email:
        //                    span.required *
        //                br
        //                input#email_addr(type='text' placeholder='Email')
        //            .propertyInput
        //                label
        //                    | Your Property Address:
        //                    span.required *
        //                br
        //                input#property_address(type='text' placeholder='Property Address')
        //        .propertyForm-right
        //            .propertyInput
        //                label
        //                    | Your Property Details:
        //                    span.required *
        //                br
        //                input#property_details(type='text' placeholder='Property Details')
        //            .propertyInput
        //                label
        //                    | Nearest Metro Station:
        //                    span.required *
        //                br
        //                input#metro_station(type='text' placeholder='Metro Station')
        //            .propertyInput
        //                label
        //                    | Approximate square footage of the space you want to licence to
        //                    | Food Lab?
        //                    span.required *
        //                br
        //                textarea#footage.propertyTextarea
        //            button(type='submit') Submit