extends _main

block content

    main
        // Modal start
        #modalComment.modalComment.container.col-11
            .row
                .modal-left.col-md-5
                    img(src='img/contact.png' alt='photo' width='300')
                    .contactInfo
                        .icons
                            .icon
                                div
                                    img(src='img/document.png' alt='photo' width='50')
                                .aboutIcon
                                    p Fill out request.
                            .icon
                                div
                                    img(src='img/receive-mail.png' alt='photo' width='50')
                                div
                                    p Get an email from us with a guide
                            .icon
                                div
                                    img(src='img/idea.png' alt='photo' width='50')
                                div
                                    p Write suggestions and comments
                .modal-right.col-sm-12.col-11.col-md-6
                    h2 Registration
                    img#close(src='img/close.png' alt='photo' width='18')
                    form
                        .registerInput
                            label(for='restaurant')
                                | Brand name
                                span.required *
                            br
                            input#restaurant(type='text' required='')
                        .registerInput
                            label(for='email')
                                | Email
                                span.required *
                            br
                            input#email(type='text' required='')
                        .registerInput
                            label(for='phone')
                                | Phone
                                span.required *
                            br
                            input#phone(type='text' required='')
                        .registerInput
                            label(for='textarea') Comments
                            br
                            textarea#textarea(name='textarea' cols='30' rows='10')
                        button.submitForm Submit
        // Modal finish
        // Home start
        #home
            .homeHeader.homeVirtual.container
                h2.propertyHeader
                    | Enjoy the value of every square foot by hosting business in your
                    | neighbourhood. Become a hub for the business.
            .home-middle
                h2 HOW IT WORKS
                .workingMethods
                    .method
                        h1 1
                        .line
                        h5 Enroll Your Property
                        p We&apos;ll identify best business that fits your spaces.
                    .method
                        h1 2
                        .line
                        h5 Rent Your Space to Us
                        p
                            | We&rsquo;ll activate business that support the on-demand economy in
                            | your neighborhood.
                    .method
                        h1 3
                        .line
                        h5 Earn Passive Income
                        p
                            | Collect license fees for each application on your property. All
                            | setup and management is handled by Food Lab.
            .home-bottom
                .container
                    h2 ENRICH YOUR NEIGHBORHOOD &amp; YOUR CORE BUSINESS
                    .business
                        div
                            img(src='img/1.webp' height='180' width='200' alt='photo')
                            div
                                p Parking
                        div
                            img(src='img/2.webp' height='180' width='200' alt='photo')
                            div
                                p Extra Space at Your Business
                        div
                            img(src='img/3.webp' height='180' width='200' alt='photo')
                            div
                                p Alley
                        div
                            .businessImg
                                img(src='img/4.webp' height='180' width='200' alt='photo')
                            div
                                p Commercial Kitchen Space
                        div
                            img(src='img/5.webp' height='180' width='200' alt='photo')
                            div
                                p Dead Space
                        div
                            img(src='img/6.webp' height='180' width='200' alt='photo')
                            div
                                p Green Space
                        div
                            img(src='img/7.webp' height='180' width='200' alt='photo')
                            div
                                p Storage Space
                        div
                            img(src='img/8.webp' height='180' width='200' alt='photo')
                            div
                                p Any Other Extra Space
            h2.test Give us a few details about you
            form.propertyForm
                .container
                    .propertyForm-left
                        .propertyInput
                            label
                                | Your Name:
                                span.required *
                            br
                            input#name(type='text' placeholder='name')
                        .propertyInput
                            label
                                | Your Phone Number:
                                span.required *
                            br
                            input#phoneNum(type='text' placeholder='Phone Number')
                        .propertyInput
                            label
                                | Your Email:
                                span.required *
                            br
                            input#email_addr(type='text' placeholder='Email')
                        .propertyInput
                            label
                                | Your Property Address:
                                span.required *
                            br
                            input#property_address(type='text' placeholder='Property Address')
                    .propertyForm-right
                        .propertyInput
                            label
                                | Your Property Details:
                                span.required *
                            br
                            input#property_details(type='text' placeholder='Property Details')
                        .propertyInput
                            label
                                | Nearest Metro Station:
                                span.required *
                            br
                            input#metro_station(type='text' placeholder='Metro Station')
                        .propertyInput
                            label
                                | Approximate square footage of the space you want to licence to
                                | Food Lab?
                                span.required *
                            br
                            textarea#footage.propertyTextarea
                        button(type='submit') Submit
